

body {

	font-family: Arial;
	color: white;

	margin: 32px 0;
	height: 1080px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
	background: rgb(167,207,223); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


a {
	text-decoration: none;
	color: inherit;
}


.c { text-align: center; }


.btn {
	width: 120px;
	margin: 12px;
	padding: 12px;
	font-weight: bold;
	color: white;
	background-color: rgb(0, 134, 179);
	border-radius: 10px;
	transition: .5s all;
}

.btn:hover {
	background-color: rgb(32, 160, 200);
	box-shadow: 0px 0px 12px rgb(0, 134, 179);
}

ol li{
	background-color: rgba(255, 41, 31, 0.59);
}

.btn-small {
	color: black;
	width: 80px;
	margin: 8px 0;
}




#logo-shift {
	width: 120px;
}



/* **************************** */

.page {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}



#join-game-username {
	padding: 8px;
	border: none;
	border-radius: 10px;
}

.rotate-left {
	 transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
#g-top {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 48px;
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 0px 0px 8px gray;
	color: black;
}

#g-content {
	margin: 72px 8px;
}

#g-bottom {
	position: fixed;
	left: 0;
	top: 100%;
	width: 100%;
	height: 128px;
	margin-top: -128px;
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 0px 0px 12px gray;
	color: black;
}

.number_label{
    border: 1px solid #9c9ccd;
    border-radius: 7px;
    color: white;
    background-color: #535379;
    font-size: 10pt;
    position:  absolute;
    right: 27px;
    bottom: 0px;

}

.fa-puzzle-piece{
	position: relative;
}


#label-username {
	font-size: 20pt;
	/*text-shadow: 0 0 4px black;*/
}

#action-list {
	height: 1080px;
}
/*
#action-list .ui-sortable-handle {
	height: 1080px;
}
*/
#action-list div{
	margin: auto;
	width: 90% !important;
}

#add-action-list {
	padding: 16px;
}

#add-action-list a {
	padding: 8px;
	font-size: 28pt;
}

#add-action-list a img {
	width: 48px;
}

#action-list .action-item {
	margin: 2px;
	padding: 2px 8px;
	background-color: white;
	border-radius: 10px;
	font-size: 32pt;
	color: black;
}
#action-list .action-item img {
	height: 48px;
}
#action-list .action-item a {
	float: right;
	margin-top: 14px;
	font-size: 16pt;
	color: gray;
}
#action-list .action-item i.fa-arrow-down {
	font-size: 24pt;
}


/*#popup-add-action {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

#popup-add-action-list {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
}*/


/* **************************** */

#loading-screen {
	z-index: 999;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* **************************** */




